{% extends 'basic_view/base.html' %}
{% block content %}
{%load static%}
<div class="wrap-blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <!-- content loop -->
                <div class="row wrap-blog--img justify-content-center">
                    <img src="{%static 'img/blog/kendala-sepulsa.jpg'%}"alt="">
                </div>
                <div class="row d-flex flex-row justify-content-between blog-date_comment">
                    <!-- date comment -->
                    <span>September, 25 2018</span>
                    <span>0 comment</span>
                </div>
                <div class="row ">
                    <!-- header berita -->
                    <div class="blog-title--news">
                        Punya Kendala? Segera Hubungi Customer Service Sepulsa!
                    </div>
                </div>
                <div class="row">
                    <!-- paragraph -->
                    <div class="news-para">
                        Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai berikut: Status Order Pending. Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15 menit. Segera hubungi tim Customer Service dengan menyertakan email...
                    </div>
                </div>
                <div class="row">
                    <!-- baca selengkapnya -->
                    <a href="" class="baca-s">Baca selengkapnya</a>
                </div>
            </div>
            <div class="col-7">
                <!-- content loop -->
                <div class="row wrap-blog--img justify-content-center">
                    <img src="{%static 'img/blog/sms.png'%}"alt="">
                </div>
                <div class="row d-flex flex-row justify-content-between blog-date_comment">
                    <!-- date comment -->
                    <span>August 14, 2018</span>
                    <span>0 comment</span>
                </div>
                <div class="row ">
                    <!-- header berita -->
                    <div class="blog-title--news">
                        OTP, Si Kode Rahasia nan Berbahaya
                    </div>
                </div>
                <div class="row">
                    <!-- paragraph -->
                    <div class="news-para">
                        Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pe,bayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadarim kemudahan tersebut bukan berarti tanpa celah. Sebelum kita membahas lebih..
                    </div>
                </div>
                <div class="row">
                    <!-- baca selengkapnya -->
                    <a href="" class="baca-s">Baca selengkapnya</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}